@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-SemiBold.ttf);
}

body {
    font-family: 'Cairo', sans-serif;
}

nav.navbar {
    z-index: 15;
}

nav.navbar .navbar-brand img {
    width: 50%;
}

nav.navbar .navbar-nav .nav-item a.nav-link {
    font-size: 16px !important;
    color: #e8e8e8 !important;
    line-height: 40px !important;
    padding: 0 16px !important;
    transition: 0.5s;
}

nav.navbar .navbar-nav .nav-item a.nav-link:hover,
nav.navbar .navbar-nav .nav-item a.nav-link.active {
    background-color: #e8e8e8 !important;
    color: #16aeca !important;
}

nav.navbar.noTransparent {
    background-color: #fff !important;
    border-bottom: 1px solid #eee !important;
}

nav.navbar.noTransparent .nav-item a.nav-link.active {
    color: #16aeca !important;
}

nav.navbar.noTransparent .navbar-nav .nav-item a.nav-link:hover,
nav.navbar.noTransparent .navbar-nav .nav-item a.nav-link.active {
    color: #dae413 !important;
    background-color: #16aeca !important;
}

nav.navbar.noTransparent button.navbar-toggler {
    color: #16aeca !important;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

header .overlay {
    background: linear-gradient(to right, rgba(46, 178, 181, 0.8), rgba(197, 203, 50, 0.8));
    min-height: 100vh;
}

header .overlay .carousel .carousel-item {
    min-height: 100vh;
    position: relative;
}

header .overlay .carousel .carousel-item .carousel-content {
    position: absolute;
    top: 40%;
    right: 15%;
    left: 15%;
    text-align: center;
    z-index: 10;
}

header .overlay .carousel .carousel-item .carousel-content h2 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 60px;
    color: #fff;
}

header .overlay .carousel .carousel-item .carousel-content a {
    text-decoration: none;
    color: #fff;
    padding: 13px 47px;
    background-color: #16aeca;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.5s;
}

header .overlay .carousel .carousel-item .carousel-content a:hover {

    color: #16aeca;
    background-color: #fff;
}

@media (max-width:992px) {
    .navbar-collapse {
        text-align: left;
    }
}

section.services {
    padding: 80px 0;
    height: 700px !important;
}

section.services .services-title h3 {
    font-size: 40px;
    margin-bottom: 50px;
    color: #070c0c;
}

section.services .card {
    height: 330px;
    padding: 50px 50px;
    margin-bottom: 50px;
    transition: all 1s ease-in-out;
}



section.services .card:hover {
    height: 440px;

}


section.services .card .card-img {
    padding-bottom: 45px;
}

section.services .card .card-block h4 {
    font-size: 24px;
    color: #070c0c;
    margin-bottom: 25px;
}

section.services .card .card-block p {
    font-size: 15px;
    line-height: 21px;
    color: #919191;
    opacity: 0;
    transition: all 1.5s ease;
}

section.services .card:hover .card-block p {
    opacity: 1 !important;
}

section.gallery .gallery-work .gallery-link {
    position: relative;
    display: block;
}

section.gallery .gallery-work .gallery-link .gallery-hover {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    right: 5%;
    color: white;
    background-color: rgba(22, 174, 202, 0.9);
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
}

section.gallery .gallery-work .gallery-link .gallery-hover:hover {
    opacity: 1;
}

section.gallery .gallery-work .gallery-link .gallery-hover i {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 36px;
}

section.gallery .gallery-title h3 {
    font-size: 40px;
    color: #070c0c;
    margin-bottom: 60px;
}

section.gallery .gallery-work .gallery-link img {
    width: 100%;
}

section.gallery .gallery-work .gallery-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    padding: 5% 10%;
    opacity: 0;
    margin-top: -200vh;
    transition: all 1s ease;
}

section.gallery .gallery-work .gallery-overlay:target {
    opacity: 1;
    margin-top: 0;
}

section.gallery .gallery-work .gallery-overlay .overlay-image img {
    width: 100%;
}

section.gallery .gallery-work .gallery-overlay .overlay-text {
    margin-top: 50px;
}

section.gallery .gallery-work .gallery-overlay .overlay-text h4 {
    font-size: 36px;
    line-height: 52px;
    color: #16aeca;
    margin-bottom: 30px;
}

section.gallery .gallery-work .gallery-overlay .overlay-text ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

section.gallery .gallery-work .gallery-overlay .overlay-text li a {
    text-decoration: none;
    color: #5555;
    font-family: sans-serif;
}

section.gallery .gallery-work .gallery-overlay .overlay-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #919191;
}

section.gallery .gallery-work .gallery-overlay .overlay-text a.btn {
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    background-color: #16aeca;
    color: #efefef;
}

section.gallery .gallery-work .gallery-overlay .overlay-text a.close {
    color: #16aeca;
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

section.statistics {
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgba(22, 147, 202, 0.8);
    padding: 140px 100px;
}

section.statistics .overlay .count {
    font-size: 40px;
    font-weight: bold;
    color: #ddfaff;
    margin: 50px auto 30px;
}

section.statistics .overlay span.counter {
    font-size: 18px;
    line-height: 22px;
    color: #85ecff;
}

section.contacts {
    padding: 100px 0 60px;
}
section.contacts .map iframe{
    height: 200px;
    width: 90%;
}
section.contacts .contacts-addressess h4{
    font-size: 24px;
    color: #181c1c;
    margin-bottom: 40px;
}
section.contacts .contacts-addressess ul{
    padding: 0;
    list-style: none;
}
section.contacts .contacts-addressess ul li{
    font-size: 18px !important;
    line-height: 25px !important;
    color: #16aeca !important;
    margin-bottom: 15px !important;
}
section.contacts .contacts-addressess ul li address{
    display: inline;
}