* {
    padding: 0;
    margin : 0;
}

@font-face {
    font-family: cairo;
    src        : url(../fonts/Cairo-SemiBold.ttf);
}

body {
    font-family: cairo;
}

header.header {
    background-image     : url(../images/bg.jpg);
    background-position  : center;
    background-size      : cover;
    background-attachment: fixed;
}

header.header .overlay {
    background-color: rgba(239, 71, 58, 0.8);
    padding-top     : 90px;
    position        : relative;
    /* overflow        : hidden; */
}

header.header .overlay .header-block {
    margin-top: 120px;
}

header.header .overlay .header-block .header-brand {
    margin-bottom: 65px;

}

header.header .overlay .header-block h1 {
    font-size    : 30px;
    color        : #fff;
    line-height  : 37.5px;
    margin-bottom: 60px;
}

header.header .overlay .header-block p {
    font-size    : 18px;
    line-height  : 33px;
    color        : #fff;
    margin-bottom: 85px;
}

header.header .overlay .header-block .header-buttons a img {
    width: 250px;
}

header.header .overlay .header-block .header-buttons a:nth-child(2) img {
    height: 65px;
}

header.header .overlay .header-img img {

    max-width: 100%;
    position : absolute;
    bottom   : -210px;
    top      : 0px;
}
main section.feature {
    padding: 80px 0;
    background-color: #fff;
    position: relative;
}
main section.feature .col-md-4:nth-child(1){
    direction: ltr;
}
main section.feature .col-md-4 .features{
    margin-top: 90px;
}
main section.feature .col-md-4 .features .d-flex{
   margin-bottom: 70px;
}

main section.feature .col-md-4 .features .d-flex .flex-shrink-0 i{
    background-color: #ef473a;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    display: block;
    border-radius: 2px;
text-align: center;
}
main section.feature .col-md-4 .features .d-flex  h5{
    font-size: 24px;
    color: #080808;
    /* line-height: 20px; */
    margin-bottom: 12px;
}

main section.feature .col-md-4 .features .d-flex  p{
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}
main section.feature .col-md-4 .feature-img img{
    width: 80%;
}
main section.option {
    background-color: #f9f8f8;
    padding-top: 120px;
    position: relative;
}
main section.option .options{
    margin-top: 40px;
    margin-right: 40px;
}
main section.option .options .d-flex{
    margin-bottom: 60px;
}
main section.option .options .d-flex h5{
    font-size: 24px;
    line-height: 40px;
    color: #141414;
}
main section.option .options .d-flex p{
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

main section.option .option-img{
    position: absolute;
    bottom: -150px;
}