@font-face {
    font-family: "JF Flat Redular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url('../fonts/JF-Flat-regular.svg#JF Flat Regulat') format('svg');
    src: url(../fonts/JF-Flat-regular.ttf) format('truetype');
    src: url(../fonts/JF-Flat-regular.woff) format('woff');
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: "JF Flat Redular", "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}

.custom-navbar {
    border-bottom: 3px solid #EEF0EA;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

.custom-form-control,
.dropdown a.custom-btn {
    border: 1px solid #EBEBEB !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    color: #868686 !important;
    height: 38px !important;
    padding: 6px 16px 7px !important;
    transition: all 0.3s ease !important;
}

.custom-form-control:focus {
    box-shadow: 0 0 2px 0 #C2101E !important;
    border-color: #C2101E !important;
}

.dropdown a.custom-btn:hover {
    background-color: #d4d4d4 !important;
    border: 1px solid #8c8c8c !important;
    color: #ff3956 !important;
}

.dropdown a.custom-btn:focus {
    color: #ff3956 !important;

}

.dropdown a.categories {
    border-radius: 0 !important;
    border-right: 0 !important;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    color: #777;
}

.search-btn {
    background-color: #ff3956;
    border-color: #ff3956;
    color: #fff;
    padding: 5px 15px 7px;
    height: 38px;
    width: 65px;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.5s ease;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:hover,
.search-btn:active:focus {
    background-color: #C2101E;
    border-color: #ff3956;
    color: #fff;
}

.nav-link {
    color: #555;
    font-size: 14px;
    padding: 15px;
}

.custom-navbar .navbar-nav li.nav-item a.nav-link.active {
    color: #ff3956 !important;
    font-weight: 700;
    border-bottom: 1px solid #ff3956 !important;
}

.custom-navbar .navbar-nav li.nav-item:hover a.nav-link.active {
    background-color: #e7e7e7;
}

ul.custom-dropdown-menu li a.dropdown-item:hover {
    background-color: #FFE7EA;
}

.custom-navbar .btn-icon {
    padding: 5px 10px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 15px;
    transition: all 0.5s ease;
}

.custom-navbar .btn-icon:hover {
    color: #fff;
    background-color: #e62424;
}

/*
قسم عارض الشرائح
 */
#carousel-featured {
    background-color: #F7F8F3;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img {
    /* width: 100%; */
    height: 375px;
}

#carousel-featured .product-details {
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #DDDDDB;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #F7F8F3;
}

#carousel-featured .product-category {
    border: 2px solid #DDDDDB;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #F7F8F3;
}

#carousel-featured .product-details h1 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}

a.custom-outline-warning {
    border-color: #f8ad47;
    color: #f8ad47;
    background-color: transparent;
}

#carousel-featured .product-details a.custom-outline-warning {
    margin-top: 15px;
}

a.custom-outline-warning:hover,
a.custom-outline-warning:active,
a.custom-outline-warning:focus,
a.custom-outline-warning:active:hover a.custom-outline-warning:active:focus {
    border: 1px solid #b86d07;
    color: #b86d07;
}

.sale {
    background-color: #53CCD7;
    font-weight: bold;
    position: absolute;
    color: #fff;
}

.sale.large {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
    transform: rotate(-25deg);
}

.custom-carousel-indicators {
    position: absolute;
    top: 70%;
    right: 45%;
}

.custom-carousel-indications-primary {
    border: 2px solid #DDDDDB !important;
    height: 70px !important;
    width: 70px !important;
    opacity: 1 !important;
    transition: all 0.5s ease !important;
    margin: 0 !important;
    margin-left: 5px !important;
}

.custom-carousel-indications-primary:hover,
.custom-carousel-indications-primary.active {
    border-color: #f8ad47 !important;
}

#carousel-featured .carousel-control-next .fa-chevron-left,
#carousel-featured .carousel-control-prev .fa-chevron-right {
    color: #868686;
    font-size: 38px;
}

#store-features {
    box-shadow: 0 0 15px #EEF0EA;
    background-image: url(../images/bg_features.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: -10px -20px;
    position: relative;
    top: -30px;
    padding-bottom: 35px;
    padding-top: 25px;
}

#store-features .feature img {
    height: 40px;
    margin-bottom: 20px;
}

#store-features .feature+.feature {
    border-right: 1px solid #EEF0EA;
}

.heading {
    font-size: 24px;
    margin-bottom: 25px;
}

.custom-thumbnail img {
    height: 250px;
    width: 100%;
    max-width: 250px;
}

.custom-thumbnail {
    border: 2px solid #EEF0EA !important;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 50px;

}

.custom-thumbnail:hover {
    border-color: #53CCD7 !important;
}

.custom-thumbnail h4 {
    font-size: 14px;
}

.price {
    color: #53CCD7;
}

.rating {
    color: #c2c2c2;
}

.rating .active {
    color: #f3af41;
}

.overlay {
    position: absolute;
    background-color: rgba(83, 204, 215, 0.5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.overlay .add-to-cart-btn {
    background-color: #fff;
    color: #53CCD7;
}

.overlay:hover {
    opacity: 1;
}

.custom-thumbnail .sale {
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
}

.custom-thumbnail .sale::before {
    content: "-";
}

.custom-carousel-indicators-2 {
    bottom: -20px !important;

}

.custom-carousel-indicators-2>li {
    width: 13px !important;
    height: 13px !important;
    margin: 12px !important;
    background-color: #dbdbdb !important;
}

.custom-carousel-indicators-2>li.active {
    background-color: #565656 !important;
}

.panel {
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;
}

.panel h4,
.panel .price {
    font-size: 130%;
    margin-bottom: 15px;
    margin-top: 0;
}

.custom-text-muted {
    background-color: #fff;
    color: #868686;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 5px 10px;
}

#row-brands .heading {
    padding-top: 25px;
    border-top: 1px solid #EEF0EA;
}

.panel .col-4 img {
    height: 145px;
}

#brand-logos {
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555;
}

#brand-logos img {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

#footer-nav {
    background-color: #1f1e1e;
    padding: 50px 40px;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
}

#footer-nav .footer-nav-links {
    margin: 30px 0;
}

#footer-nav .footer-nav-links a {
    color: #555;
    text-decoration-line: none !important;
    margin-left: 30px;
    font-weight: bold;
}

.newsletter {
    border-top: 1px solid #292929;

}

.newsletter form {
    max-width: 260px;
}

.newsletter form label {
    margin: 27px 0 15px;
    font-size: 12px;
    font-weight: bold;
}

.newsletter form input {
    background: #313131;
    opacity: 0.6;
    border: none;
    height: 38px;
}

.custom-btn-warning {
    color: #000;
    background-color: #f8ad47;
    border-color: #f8ad47;
}

.custom-outline-warning:hover,
.custom-outline-warning:active,
.custom-outline-warning:focus,
.custom-outline-warning:active:hover .custom-outline-warning:active:focus {
    background: #d86d07;
    border-color: #d86d07;
}

.newsletter form button {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    padding: 6px 12px 5px;
    color: inherit;
    height: 38px;
}

#footer-copyright-social {
    background: #141414;
    color: #303030;
    padding: 30px 0;
    font-weight: 700;
}

#footer-copyright-social #social-icons a {
    color: #303030;
    margin: 0 5px;
    font-size: 15px;
}
/*
product page
*/
.breadcrumb {
    padding: 25px 0;
}
.custom-breadcrumb .breadcrumb-item a{
    color: #555 !important;
    text-decoration: none !important;
}
.custom-breadcrumb .breadcrumb-item:hover a{
    color: #f8ad47 !important;
    text-decoration: none !important;
}
.custom-breadcrumb>li::before{
    color: #f8ad47 !important;
}
.custom-breadcrumb .active{
    color: #bfbfbf;
}
@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {

    .custom-navbar .navbar-nav li a.nav-link {
        padding: 7px;
    }

    #carousel-featured .custom-carousel-indicators {
        margin-right: 12%;
    }
}

@media (max-width: 767.98px) and (max-width: 991.98px) {
    .custom-thumbnail img {
        height: 200px;
    }
}

@media (max-width: 991.98px) {

    .custom-navbar {
        padding: 15px 20px 30px;
    }

    .custom-navbar .container {
        max-width: 100%;
    }

    .navbar-header {
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }

    .navbar-header .btn-icon {
        float: left;
    }

    .custom-navbar .inline-form {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
    }

    .custom-navbar .inline-form .dropdown {
        display: none;
    }

    .custom-navbar .inline-form input {
        width: 90%;
    }

    .custom-navbar .inline-form .search-btn {
        width: 10%;
    }

    .custom-navbar .navbar-nav li a.nav-link {
        padding: 10px 0 !important;
    }

    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }

    #carousel-featured .custom-carousel-indicators {
        margin-right: 4%;
    }

    .overlay {
        display: none;

    }

    .add-to-cart-btn {
        color: #868686;
        border-color: #868686;
        margin-top: 8px;
        font-weight: 400;
    }

    #row-brands .panel .carousel-item img {
        width: 200px !important;
        height: auto !important;
    }

    #copyright,
    #social-icons {
        text-align: center !important;
        width: 100% !important;
    }

    #social-icons {

        margin-top: 20px !important;
    }

    #social-icons a {
        font-size: 150% !important;
    }

    #brand-logos img {
        max-width: 50px;
        max-height: 50px;
        margin: 5px 24px 5px 23px;
    }
    #footer-nav .footer-logo{
        margin-bottom: 30px !important;
    }
    #footer-nav form{
        width: 100% !important;
        max-width: 100% !important;
        padding:0 20px !important;
    }
}

@media (max-width: 767.98px) {
    #carousel-featured {
        padding-bottom: 20px;
    }

    #carousel-featured,
    #carousel-featured .product-details {
        height: auto;
    }

    #carousel-featured .product-details {
        top: -2px;
        text-align: center;
    }

    #carousel-featured .carousel-item img {
        height: 250px;
    }

    .custom-thumbnail img {
        height: 250px;
        margin-right: auto;
        margin-left: auto;
    }

}

@media (max-width: 575.98px) {
    .custom-navbar .inline-form input {
        width: 80% !important;
    }

    .custom-navbar .inline-form .search-btn {
        width: 20% !important;
    }
    #brand-logos .img-container img{
        margin: 5px 15px;
    }
}