* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: ar-font;
    src: url('../fonts/Cairo-SemiBold.ttf');
}

body {
    direction: rtl;
    font-family: ar-font !important;
}

header {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center center;
}

header .brand {
    margin-top: 100px;
    margin-bottom: 60px;
    display: inline-block;
    border-bottom: 5px solid #474c53;
    padding-bottom: 35px;

}

header .heading-page h1 {
    color: white;
    font-size: 60px;
    line-height: 75px;
    font-weight: bold;
}

header .heading-page p {
    color: #acacac;
    font-size: 18px;
    line-height: 25px;
    width: 40%;
    margin: auto;
}

header .count-down {
    width: 60%;
    margin: 90px auto;
}

header .counter {
    display: inline-block;
    margin: 0px 15px;
}

header .count-down .counter .count-amount {
    color: #ffce00;
    font-size: 60px;
    display: block;
    font-weight: bold;
}

header .count-down .counter .count-period {
    color: white;
    display: block;
    font-size: 30px;
    font-weight: bold;
}

header .send-notification p {
    font-size: 18px;
    color: white;
}

header .send-notification .input-group {
    width: 30%;
    margin: auto;
}
header .send-notification .input-group button img{
    color: #ffce00 !important;
}